[Desktop Entry]

Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/KeyChange/scripts/change.sh
Name=KeyChange
Comment=KeyChange
Icon=/usr/bin/KeyChange/media/desktop-icon.png
